<div class="container">
  <%= simple_form_for(:user, url: trainers_path) do |f| %>
    <%= f.input :first_name, label: "First name" %>
    <%= f.input :last_name, label: "Last name" %>
    <div class="mb-3">
      <p>Country</p>
    <%= f.country_select :country, as: :country, prompt: "Select country"%>
    </div>
    <%= f.input :email, label: "Email" %>
    <%# <%= f.input :pokemons, collection: Pokemon.all, label: "Pokemons", prompt: "Elige pokemon", multiple: true %> %>
    <%= f.association :pokemons, label: "Pokemons", prompt: "Elige pokemon", multiple: true %>
    <%= f.input :photo, label: "Photo", as: :file %>
    <%= f.submit class:"btn btn-success mt-3" %>
  <% end %>
</div>
